---
 const personalImageAlt = "Ahumada Federico"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I am a <strong>Back-End Developer</strong> with a strong foundation in <strong>data management</strong>, specializing in <strong>C# .Net</strong> and <strong>Python</strong>.
      I am passionate about discovering new technologies and dedicated to continuous learning.
    </p>

    <p>
      My experience includes working with <strong>cloud services</strong> like <strong>AWS</strong> and <strong>Azure</strong>, where I have been involved in optimizing and maintaining software systems.
      I have also gained hands-on experience in creating <strong>Logic Apps</strong> and <strong>CI/CD pipelines</strong> to enhance system efficiency.
    </p>

    <p>
      In addition to my technical skills, I have experience in <strong>integrating back-end systems</strong> with various technologies, ensuring seamless functionality in projects ranging from traditional software applications to blockchain-based platforms.
      My ability to adapt to new technologies and <strong>collaborate effectively</strong> with teams has been a key factor in delivering high-quality products.
    </p>

    <p>
      Currently, I am pursuing a <strong>Technical Degree in Programming</strong>, and I continuously supplement my education with self-taught courses to stay up-to-date with the latest trends and advancements in the tech industry.
    </p>

    <p>
      In me, you will find a <strong>dedicated developer</strong> who is eager to contribute to the success of any project I am a part of.
    </p>
  </div>
</article>
